table {
  width: 100%;
}

.row-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  gap: 1rem;
  :last-child {
    text-align: right;
  }
}

.responsive-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  > .mat-card {
    flex: 1;
    min-width: fit-content;
  }
}
